:root {
    --bg-color: #35324d;
    --text-color: #FFFFFF;
    --prop-color: #FFFFFF;
    --slider-bullet: #8463ba;
    --input-hover: #636363;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: var(--prop-color);
    outline: none;
    -webkit-transition: .2s;
    border-radius: 100px;
    width: 300px;
    height:25px
}

.slider:active {
    background-color: #7e7e7e;
    transition: background-color .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--slider-bullet);
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

#arrow{
    font-size: 20px;
}

html {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 450;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

canvas {
    border-radius: 10px;
}

.properties {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px
}

hr {
    width: 90%;
    margin-top: 2px;
    margin-bottom: 6px;
    border-top: 1px dashed;
    border-bottom: none;
}

.colors, .shapes, .size, .speed, .angle {
    display: flex;
    flex-direction: column;
}

.shapeValue, .sizeValue, .speedValue, .angleValue {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    width: 90%
}

.shape-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shape-btn {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 450;
    font-style: normal;
    border: none;
    border-radius: 100px;
    height: 25px;
    background-color: var(--prop-color);
}

.shape-btn:hover {
    background-color: var(--input-hover);
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.shape-btn:active {
    background-color: #636363;
    cursor: pointer;
}

.props {
    display: flex;
    flex-direction: column;
}

#colorLabel {
    margin-left: 15px
}

input {
    width: 300px;
    border: none;
    border-radius: 100px;
    height: 25px;
    cursor: pointer;
}

span {
    font-weight: 400;
}